name: OpenSSF Scorecards

on:
  push:
    branches:
      - main
  schedule:
    - cron: "17 2 * * 1"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  analysis:
    name: scorecards-analysis
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Run OpenSSF Scorecards
        uses: ossf/scorecard-action@4eaacf0543bb3f2c246792bd56e8cdeffafb205a # v2.4.3
        with:
          results_file: scorecards.sarif
          results_format: sarif
          publish_results: false

      - name: Upload SARIF to code scanning
        uses: github/codeql-action/upload-sarif@9e907b5e64f6b83e7804b09294d44122997950d6 # v4.32.3
        with:
          sarif_file: scorecards.sarif
